/* ############## !BASE ############## */


@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-Medium.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

html, body {
	line-height: 1;
	min-height:100%;
	background:#333;
	color:#fff;
	/*height:100%;*/
	font-family:Arial, Verdana, sans-serif;
}
h1 {
	font-family: 'Ubuntu', 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
	letter-spacing: -1px;
}
h6, p {
	color: #aaa;
}
p {
	font-size: 0.8rem;
}
ol, ul {
	list-style: none;
}


a, a:link, a:visited, a:hover, a:active {
	color: #00f;
}
em {
	font-style: italic;
}


/* reset */
textarea:focus, input:focus{
	outline: 0;
}

/* reset */


/* ############## !COLORS ############## */
body {
	/*background: #0058B2;*/
}
h1, h4 {
	/*color: #bc3233;*/
}
h6 {
	/*color: #869499;*/
}
/* ############## !LAYOUT ############## */



/* button */
.button-group .col-md-3,
.button-group .col-md-4 {
	transition:none;
	background: #aaa;
	width: 150px;
	height: 150px;
	padding:20px 0;
	cursor: pointer;
	text-align: center;
	font-size: 16px;
}
.pt .button-group .col-md-4 {
	padding:10px 0;
}
.button-group .col-md-3 span,
.button-group .col-md-4 span {
	font-size: 12px;
	color:#eee;
	display: block;
}
.button-group .col-md-3 .icon,
.button-group .col-md-4 .icon{
	font-size: 70px;
	display: block;
}
.button-group .col-md-3:hover,
.button-group .col-md-4:hover {
	transition:none;
}
.button-group .col-md-3.active,
.button-group .col-md-4.active {
	background-color:#008cba;
}
.button-group .large-3.columns {
	float: left;
}
.sidebar .row {
	margin-bottom: 0.4em;
}

/* ############## !STYLES ############## */

.sidebar {
	position: fixed;
	right:0;
	top:150px;
	bottom:0;
	overflow: auto;
}
.rightalign {
	text-align: right;
}
.header {
	text-align:center;
	margin-top: 10px;	
}
.icon.ion-veeva {
	background-image: url(../images/veeva.png);;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 72px;
	height: 72px;
	margin: 0 auto;
}
.bigtext h2{ 
	margin-top: 0;
	margin-bottom: 0;
	margin-top: -8px;
}












@media only screen and (max-width: 40.063em) {
	h1 {
		font-size: 1.725rem;
		text-align: center;
	}
	.logo {
		width: 40px;
		height: 40px;
		margin:10px auto 0;
		display: block;
	}
	.button{
		font-size: .9rem;
		width: 120px;
		height: 120px;
		padding: .8rem .8rem 1rem;
	}
	.button.large {
		font-size: .9rem;
		padding: .8rem .8rem 1rem;
		width: 120px;
		height: 140px;
	}
	.sidebar {
		top:50px;
		position: relative;
	}
	.button-group .small-6 {
		float:left !important;
	}

}


