<!doctype html>
<html ng-app="mainApp">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Cost This!</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/6.0.16/css/bootstrap-slider.min.css">
	<link rel="stylesheet" href="css/main.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/6.0.16/bootstrap-slider.min.js"></script>
	<script src="js/slider.js"></script>
</head>


<body class="container-fluid" ng-controller="MainController">
	 
	<div class="row">
		<div class="col-md-12">
		  
		<h1>Cost This</h1>
		<h4>Cost is for <strong>development</strong> only, excluding copywriting, creative concept, design and layout.</h4>
		  <hr/>
		</div>
	</div>
			  

	

	<div class="row pt">
		<!-- PROJECT TYPE -->
		<div class="col-md-12">
			<h4>Project Type</h4>
				<div class="row button-group">
					<div ng-repeat="proj in project_type track by $index" class="col-md-4" ng-click="selected.project=$index; refreshCost();" ng-class="{'active':selected.project==$index}"><i class="icon {{proj.icon}}"></i> {{proj.title}} <span>{{proj.desc}}</span></div>
				</div>
		</div>
	</div>


	<div class="row">
		<!-- PLATFORM -->
		<div class="col-md-8">
			<h3>Size</h3>
			  <h4>Choose the platform</h4>
	  		  <!-- <h6>Select one</h6> -->
	  		  <div class="row button-group">
	  			  <div ng-repeat="plat in platform_type track by $index" class="col-md-4" ng-click="selected.platform=$index; refreshCost();" class="button" ng-class="{'active':selected.platform==$index}"><i class="icon {{plat.icon}}"></i> {{plat.title}}</div>
	  		  </div>
		</div>


		<!-- MAIN -->
		<div class="col-md-8">
			<h4>New build or update to existing codebase?</h4>
			<div class="row button-group">			
				<div class="col-md-4" ng-click="newProject=true; refreshCost();" ng-class="{'active':newProject==true}"><i class="icon ion-document"></i> New
				</div>
				<div class="col-md-4" ng-click="newProject=false; refreshCost();" ng-class="{'active':newProject==false}"><i class="icon ion-document-text"></i> Update
				</div>
			</div>
		</div>

		<!-- SIZE -->
		<div class="col-md-8">
			<h3>Size</h3>
			  <h4>Select the number of main screens: </h4>
			  <h6>Main screen is one you see when you swipe (non-popup)</h6>
			  {{numPages}}
			  <slider ng-model="numPages" min="0" step="1" max="90" value="15" on-stop-slide="refreshCost();"></slider>
		</div>
		<div class="col-md-8">
			  <h4>Select the number of reference screens: </h4>
			  <h6>Popup screens are References/Study Design</h6>
			  {{numRefPages}}
			  <slider ng-model="numRefPages" min="0" step="1" max="90" value="15" on-stop-slide="refreshCost();"></slider>
		</div>

		<!-- FEATURES -->
		<div class="col-md-8">
		  <h4>Features</h4>
		  <div class="row button-group">

				<div ng-repeat="feat in feature_type track by $index" class="col-md-3" ng-click="toggleFeature($index); refreshCost();" ng-class="{'active':featurecart[$index].selected==true}"><i class="icon {{feat.icon}}"></i> {{feat.title}}</div>

		  </div>
		</div>   
		<div class="col-md-8">
			&nbsp;
		</div>  




		<!-- SIDEBAR -->
		<div class="col-md-4 sidebar">
		  <h4>Overview</h4>
		  <div class="overview">
			<div class="panel">
				<!-- <h5><strong>Base cost</strong></h5> -->
				<!-- <div class="row" ng-repeat="item in basiccart">
					<div class="col-md-8">{{item.desc}}</div>
					<div class="col-md-4 rightalign">${{item.cost | number}}</div>
				</div>  -->

				<!-- <div class="row" ng-repeat="item in featurecart">
					<div class="col-md-8">{{item.desc}}</div>
					<div class="col-md-4 rightalign">${{item.cost | number}}</div>
				</div>   -->          
		  </div>   
			<div class="row">
				<div class="col-md-8"><h6>Hours</h6></div>
				<div class="col-md-4 rightalign"><h6>{{totalhours | number}}</h6></div>
			</div>
			<!-- <div class="row">
				<div class="col-md-8"><h6>Personnel</h6></div>
				<div class="col-md-4 rightalign"><h6>{{ personnel }}</h6></div>
			</div> -->
		  <hr/> 
			<div class="row">
				<div class="col-md-8"><h4><strong>Total</strong></h4></div>
				<div class="col-md-4 rightalign"><h4><strong>${{totalcost | number}}</strong></h4></div>
			</div>
		  

			<hr/> 

		  <div class="row">
		  	<p class="col-md-12"><em><strong>Caveat:</strong> Cost are for estimates only. Use at your own discretion.</em></p>
		  </div>


		</div>
		</div>

	 </div>
	 <!-- //row -->

	 

<script src="js/main.js"></script>
	 
</body>
</html>
